<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/admin_forgotpw.css">
  <title>universityprojectbank</title>
</head>
<body>
    <section>
        <div class="header">
            <h1>Indian Institute of Information Technology Allahabad</h1>
        </div>

        <div class="college_logo">
            <img src="images/Indian_Institute_of_Information_Technology,_Allahabad_Logo.png">
        </div>
        
        <div class="form-box">
            <div class="form-value">
                <div class="mydiv">
                <form action="/student" method="post">
                    <h2>Forgot Password</h2>
                    
                     <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email id" name = "email id" required>
                        <label for="">Email id</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name = "password" required>
                        <label for="">Password</label>
                    </div>
                    
                    {{!-- <input type="submit"></input> --}}
                    <button>Sign Up</button>
                </form>
                </div>
            </div>
        </div>
        </section>
        <div class="footer">
            <marquee><h1>Update your password
            </h1></marquee>
        </div>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>